* {
  box-sizing: border-box;
}

:root {
  --background-bold: #10375c;
  --background-light: #2e80ce;
  --color-paragraph: #575f66;
  --font-family-openSans: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: #10375c;
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  text-align: center;
}

/* Button - common */
.btn {
  display: inline-block;
  /* Bắt buộc sử dụng Min-width, max-width không được */
  min-width: 205px;
  /* Căn text nằm giữa button luôn */
  line-height: 60px;
  background-color: var(--background-light);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 30px;
}

.btn:hover {
  background-color: #fff;
  color: var(--background-light);
  /* border: 1px solid var(--background-light); */
  transition: 0.25s;
  cursor: pointer;
}

header {
  z-index: 10;
}

header {
  max-width: 1440px;
  background-color: var(--background-bold);
  margin: 0 auto;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--background-bold);
}

.header__content,
.hero__content {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.hero__content {
  padding-bottom: 100px;
  padding-top: 60px;
}

.header__content--logo img {
  width: 86px;
  height: 31px;
}

.header__content--navigation li {
  display: inline-block;
}

.header__content--navigation li:hover {
  cursor: pointer;
}

.header__content--navigation a {
  color: #c9d2da;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 28px;
  padding: 10px;
  margin-right: 10px;
}

.header__content--navigation a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
  transition: 0.25s;
}

.header__content--button-left {
  color: #c9d2da;
  margin-right: 14px;
}

.header__content--button-right {
  min-width: 104px;
  /* Căn text nằm giữa button luôn */
  line-height: 44px;
  font-size: 1.6rem;
}

.active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  top: -3px;
  position: relative;
  right: 8px;
}

.hero__content--left {
  width: 44%;
}

.hero__content--left h1 {
  color: #fff;
  font-weight: 600;
  font-size: 7rem;
  line-height: 80px;
  margin-bottom: 30px;
}

.hero__content--left p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  color: #c9d2da;
  margin-bottom: 30px;
}

.hero__content--left-button a {
  margin-right: 30px;
}

.hero__content--left-button span {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
}

.hero__content--right-left {
  height: 540px;
  width: 330px;
}

.hero__content--right-right {
  width: 210px;
  height: 410px;
  margin-top: 60px;
}

.hero__content--right {
  display: flex;
}

.services {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin: 0 auto;
  padding: 50px 0;
}

.services__heading p {
  color: #575f66;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: center;
  padding: 20px 0;
  width: 468px;
  margin: 0 auto;
}

.services__content {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.services__content-img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
}

.services__content--right {
  width: 470px;
}

.cover {
  width: 470px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__content--right-first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.services__content--right-first-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eff6fd;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.services__content--right-first-text h6 {
  color: #10375c;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 22.68px;
}

.services__content--right-first-text p {
  color: #575f66;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 28px;
}

.services__content--right-btn {
  margin-top: 50px;
}

.cover:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.cover:hover .services__content--right-first-icon {
  background-color: var(--background-light);
  color: #fff;
}

.services__content--right-first-text h6 {
  padding-bottom: 6px;
}

.works {
  width: 1440px;
  background-color: #f6fbff;
  margin: 0 auto;
  padding: 20px 0 80px;
}

.works-content {
  width: 1170px;
  margin: 0 auto;
}

.works__top {
  width: 468px;
  padding-top: 60px;
}

.works__top p {
  color: #575f66;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
}

.works__top h2 {
  margin-bottom: 15px;
  text-align: start;
}

.works__bottom {
  display: grid;
  column-gap: 78px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  /* padding-bottom: 50px; */
}

.works__bottom--list1 {
  background-color: #fff;
}

.works__bottom--list1 img {
  width: 72px;
  height: 72px;
  margin: 20px;
}

.works__bottom--list1 h3 {
  color: #10375c;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 36px;
  width: 254px;
  margin: 0px 20px 10px 20px;
}

.works__bottom--list1 p {
  color: #575f66;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 28px;
  width: 254px;
  margin: 0px 20px 10px 20px;
}

.works__bottom--list1 a {
  color: #575f66;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 28px;
  margin: 0px 20px 10px 20px;
}

.works__bottom--list1 {
  width: 338px;
  height: 370px;
  border: 16px solid #eaf6ff;
}

.works__bottom--list1:hover {
  border: 16px solid #2e80ce;
  transition: 0.55s;
  transform: translateY(-15px);
}

.works__bottom--list1:hover a {
  color: #2e80ce;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
}

.about {
  max-width: 1170px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 200px 0;
}

.about__left {
  width: 570px;
  max-height: 491px;
  position: relative;
}

.about__left--first {
  max-width: 512px;
  max-height: 370px;
}

.about__left--second {
  max-width: 332px;
  max-height: 370px;
  position: absolute;
  left: 230px;
  top: 100px;
}

.about__right {
  max-width: 470px;
}

.about__right h2 {
  text-align: start;
  margin-bottom: 30px;
}

.about__right p {
  color: #575f66;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  margin-bottom: 30px;
}

.btn-about {
  border: none;
  /* margin-bottom: 30px; */
}

.btn-about:hover {
  outline: 3px solid var(--background-light);
}
